//Variables
$primaryColor: #9e6df7;
$grey: #B9B8B8;
$black: #000000;
$montserrat: 'Montserrat', sans-serif;

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html { 
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body { 
  scroll-behavior: smooth;
  background: whitesmoke url('./assets/circleCi.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  main { 
    position: relative;
    height: 100vh;
      .details { 
        font-family: $montserrat;
          .items { 
            padding: 10px;
              p:nth-child(1) { 
                font-size: 19px;
                font-weight: bolder;
                letter-spacing: 0.03em;
              }
              a:nth-child(2) { 
                font-size: 19px;
                font-weight: 300;
                text-decoration: none;
                color: black;
                font-weight: 100;
                display: block;
                margin-top: 9px;
                text-transform: capitalize;

              }
              p:nth-child(2){ 
                font-weight: 100;
                margin-top: 9px;
                text-transform: capitalize;
              }
              #social {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr; 
                  a { 
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-color: black;
                    margin-top: 16px;
                  }
                  a:nth-child(1) { 
                    background: url('./assets/twt.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
                  a:nth-child(2) { 
                    background: url('./assets/ig.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
                  a:nth-child(3) { 
                    background: url('./assets/yt.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
              }
          }
          .items:nth-child(1) { 
            position: absolute;
          }
          .items:nth-child(2) { 
            position: absolute;
            bottom: 0;
            left: 0;
          }
          .items:nth-child(3) { 
            position: absolute;
            top: 0;
            right: 0;
          }
          .items:nth-child(4) { 
            position: absolute;
            bottom: 0;
            right: 0;
          }
      }
      nav { 
        display: grid;
        grid-template-columns: 4fr 1fr;
        margin-bottom: 20vh;
        padding: 30px;
        font-family: $montserrat;
          #date { 
            h3 { 
              font-weight: 100;
              font-size: 0.9em;
              color: #B9B8B8;
            }
            h1 { 
              font-size: 2.4em;
              color: #313131;
            }
          }
          .mobileBurger { 
            width: 70px;
            height: auto;
            cursor: pointer;
            position: relative;
            display: none;
              #menuBurger { 
                width: 100%;
                height: 100%;
                padding-top: 30%;
                transition: all 1s;
                  div { 
                    width: 100%;
                    height: 2px;
                    background-color: $primaryColor;
                    margin-bottom: 0.61em;
                  }
                  div:nth-child(1) { 
                    width: 50%;
                  }
                  div:nth-child(2) { 
                    height: 2.5px;
                  }
                  div:nth-child(3) { 
                    width: 30%;
                  }
              }
              .cancel { 
                width: 60%;
                height: 60%;
                background: url('./assets/cancelIcon.svg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 0 auto;
                position: absolute;
                top: 24%;
                left: 20%;
                display: none;
              }
          }
      }

      #mainContent { 
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        font-family: $montserrat;
        text-align: center;
        position: relative;
        padding: 0 4%;
          .location, .social{ 
            margin-top: -30%;
              p:nth-child(1) { 
                font-size: 1.52em;
                text-transform: uppercase;
                color: #313131;
                letter-spacing: 0.31em;
                margin-bottom: 60vh;
                position: relative;
                  &::before { 
                    width: 1px;
                    height: 50vh;
                    background-color: black;
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                  }
              }
              p:nth-child(2) { 
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 0.4em;
              }
          }
          .content { 
            padding-top: 6%;
              #playBttn { 
                width: 130px;
                height: 130px;
                background: url('./assets/play-button.svg');
                background-position: top;
                background-size: 50%;
                background-repeat: no-repeat;
                display: block;
                margin: 5em auto 0 auto;
                cursor: pointer;
                  &:focus { 
                    border: none
                  }
              }
              h1 { 
                font-size: 4.8em;
                letter-spacing: 0.03em;
                text-transform: uppercase;
              }
              h1:nth-child(2) { 
                font-size: 5.1em;
                letter-spacing: 0.3em;
                margin-bottom: 20px;
                text-shadow: 9px 4px #9d6df77a;
              }
              p { 
                text-transform: uppercase;
                font-weight: 100;
                margin-bottom: 2em;
              }
              #sendMail {
                background-color: white;
                display: block;
                width: 20%;
                margin: 0 auto;
                padding: 1em 2em;
                border-radius: 2000px;
                position: absolute;
                bottom: -14%;
                text-transform: uppercase;
                text-decoration: none;
                color: black;
                left: 40%;
                box-shadow: 0px 10px 20px #9d6df773;
                transition: all 0.5s;
                  &::before { 
                    transition: all 0.5s;
                    width: 25px;
                    height: 25px;
                    background: url('./assets/purpleSend.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    content: '';
                    top: 24%;
                    border-radius: 200px;
                    position: absolute;
                  }
                  &:hover { 
                    background: $primaryColor;
                    box-shadow: none;
                    color: white;
                  }
                  &:hover::before { 
                    background: url('./assets/whiteSend.svg');
                    transform: translateX(14em);
                    z-index: 0;
                  }
              }
          }
      }
      #facts { 
        margin-top: 35vh;
        height: auto;
        background: whitesmoke;
          .heading { 
            padding: 1.2em 2em;
            font-size: 3em;
            font-family: $montserrat;
            text-transform: capitalize;
          }
          .factsLists { 
            padding: 3em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3em;
              .factBox { 
                position: relative;
                font-family: $montserrat;
                margin-bottom: 3em;
                  .boxOne { 
                    font-size: 1.5em;
                    height: 15vh;
                    background-color: $primaryColor;
                    padding: 1em 0.4em;
                    border-radius: 10px;
                    color: white;
                    box-shadow: 0px 5px 20px 12px rgba(58, 58, 58, 0.151);

                  }
                  .boxTwo { 
                    font-size: 1.1em;
                    height: auto;
                    background-color: white;
                    padding: 1em 0.4em;
                    font-weight: 100;
                    color: rgb(0, 0, 0);
                    position: absolute;
                    line-height: 1.6em;
                    left: 10%;
                    top: 50%;
                    box-shadow: 1px 1px 20px 12px rgba(253, 126, 87, 0.123);
                  }
              }
          }
      }

      #ytvideos { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 85%;
        margin: 4em auto 4em auto;
      }
      #mobileLayover { 
        display: none;
      }
  }
}

//Tablet Responsive Code
@media only screen and (min-device-width : 768px) and (max-device-width : 1334px) { 

  body { 
      main { 
          nav { 
            margin-bottom: 10vh;
          }
          .details { 
            
              .items:nth-child(1),
              .items:nth-child(3)
                { 
                  position: absolute;
                }
              .items:nth-child(2),
              .items:nth-child(4) { 
                bottom: 45%;
                position: absolute;
              }
          }
          #mainContent { 
            grid-template-columns: 1fr 3fr 1fr;
            padding: 0 2%;
              .location, .social { 
                  
                  p:nth-child(1) { 
                    letter-spacing: 0.3em;
                    font-size: 1em;
                    margin-bottom: 50vh;
                  } 
                  p:nth-child(2) { 
                    font-size: 0.8em;
                  }
              }
              .content { 
                a { 
                  width: 35%;
                  left: 33%;
                }
              }
          }
          #facts { 
            margin-top: 30vh;
            height: auto;
            background: whitesmoke;
              .heading { 
                padding: 0.5em 1em;
                font-size: 2.5em;
                font-family: $montserrat;
                text-transform: capitalize;
              }
              .factsLists { 
                padding: 2em;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 3em;
                  .factBox { 
                    position: relative;
                    font-family: $montserrat;
                    margin-bottom: 3em;
                      .boxTwo { 
                        font-size: 1em;
                        height: auto;
                        background-color: white;
                        padding: 1em 0.4em;
                        font-weight: 100;
                        color: rgb(0, 0, 0);
                        position: absolute;
                        line-height: 1.6em;
                        left: 10%;
                        top: 50%;
                        box-shadow: 1px 1px 20px 12px rgba(253, 126, 87, 0.123);
                      }
                  }
              }
          }
          #ytvideos { 
            display: block;
            width: 90%;
            margin: 2em auto 4em auto;
            margin: 0 auto;
              iframe { 
                width: 80%;
                margin: 1em auto;
                display: block;
              }
          }
      }
  }

}

//Mobile Responsive Code
@media (min-width: 320px) and (max-width: 480px) { 
  body { 

      main { 
          nav { 
              .mobileBurger { 
                display: block;  
              }
          }
          .details { 
            display: none;
          }
          #mainContent { 
            display: block;
            margin-bottom: 50vh;
              .location, .social { 
                display: none;
              }
              .content { 
                position: relative;
                  h1 { 
                    font-size: 3em;
                  }
                  h1:nth-child(2) { 
                    font-size: 3.5em;
                  }
                  p { 
                    font-size: 0.8em;
                    line-height: 1.8em;
                    display: none
                  }
                  #sendMail { 
                    display: block;
                    bottom: -100%;
                    width: 70%;
                    padding-left: 40px;
                    left: 15%;
                    width: 70%;
                      &::before { 
                        left: 5%;
                      }
                      &:hover::before { 
                        transform: translateX(12em);
                      }
                  }
                  #playBttn { 
                    display: none;
                  }
                }
          }
          #facts { 
            margin-top: 5vh;
            height: 100vh;
            background: whitesmoke;
              .heading { 
                padding: 0.5em 0.3em;
                font-size: 1.4em;
                font-family: $montserrat;
                text-transform: capitalize;
              }
              .factsLists { 
                padding: 2em;
                display: grid;
                grid-template-columns: 1fr;
                gap: 3em;
                  .factBox { 
                    position: relative;
                    font-family: $montserrat;
                    margin-bottom: 5em;
                      .boxTwo { 
                        font-size: 1em;
                        height: auto;
                        background-color: white;
                        padding: 1em 0.4em;
                        font-weight: 100;
                        color: rgb(0, 0, 0);
                        position: absolute;
                        line-height: 1.6em;
                        left: 10%;
                        top: 70%;
                        box-shadow: 1px 1px 20px 12px rgba(253, 126, 87, 0.123);
                      }
                  }
              }
          }
          #ytvideos { 
            display: block;
            width: 90%;
            margin: 100vh auto 4em auto;
              iframe { 
                width: 100%;
                margin: 1em auto;
                display: block;
              }
          }
          #mobileLayover { 
            display: none;
            background-color: $primaryColor ;
            height: 100vh;
            padding-top: 30vh;
            text-align: center;
            font-family: $montserrat;
            position: relative;
              #social { 
                  h2 {
                    color: white;
                    font-size: 1.6em;
                    text-transform: uppercase;
                  }
                  .iconList { 
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    margin-top: 2em;
                      a { 
                        width: 40px;
                        height: 40px;
                        background-color: black;
                        margin: 0 auto;
                      }
                      a:nth-child(1) { 
                        background: url('./assets/twtwt.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                      }
                      a:nth-child(2) { 
                        background: url('./assets/igwt.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                      }
                      a:nth-child(3) { 
                        background: url('./assets/ytwt.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                      }
                  }
              }
              p { 
                position: absolute;
                bottom: 5%;
                font-size: 1.3em;
                text-transform: uppercase;
                color: white;
                left: 25%;
              }
          }
      }
  }
}





::selection { 
  background: $primaryColor;
  color: white;
  padding: 20px;
}